body
	background: #0B0C16

p, td, th
	color: #EFEFEF
	font-family: 'raleway', 'sans serif'



header
	height: 105px

li
	font-family: 'raleway', 'sans serif'
	color: #EFEFEF
	display: inline-block
	font-weight: bold


nav
	margin-left: 45px
	margin-right: 45px
	margin-top: 20px

	img
		height: 30px

	ul
		float: right

		li
			font-size: 18px
			margin-left: 45px


// exo list

.info-container
	margin-left: 10%

	.info-names
		background-color: rgba(255,255,255,0.3)
	
	ul

		th
			font-size: 14px
			text-transform: uppercase
			width: 16%
			text-align: center

	.info-datas

		.data-row

			td
				display: inline-block
				width: 16%
				text-align: center
