body
	background: #0B0C16

p, td, th, label, g
	color: #EFEFEF
	font-family: 'raleway', 'sans serif'
	font-size: 14px



header
	height: 105px

li
	font-family: 'raleway', 'sans serif'
	color: #EFEFEF
	display: inline-block
	font-weight: bold


nav
	margin-left: 50px
	margin-right: 50px
	margin-top: 20px

	img
		height: 30px

	ul
		float: right

		li
			font-size: 18px
			margin-left: 45px

			a
				color: #EFEFEF
				cursor: pointer
				position: relative
				padding-bottom: 6px

				&:after
					background: none repeat scroll 0 0 transparent
					bottom: 0
					content: ""
					display: block
					height: 3px
					left: 50%
					position: absolute
					background: #006CBF
					transition: width 0.3s ease 0s, left 0.3s ease 0s
					width: 0

				&:hover:after
				  width: 100%
				  left: 0
			.disc
				color: #46CDCF


// exo list

.info-container


	table
		width: 100%
		table-layout: fixed

	.info-names

		tr

			th
				font-weight: bold
				padding: 20px 15px
				text-align: left
				color: #fff
				text-transform: uppercase
				text-align: center

	.info-datas
		height: 78vh
		overflow-x: auto
		margin-top: 0px

		.data-row
			overflow-x: auto
			margin-top: 0px

			&:nth-child(even)
				background: rgba(255, 255, 255, 0.03)
			&:hover
				background: rgba(0, 108, 191, 0.24)
				cursor: pointer

			td
				width: 16%
				text-align: center
				padding: 15px
				text-align: left
				vertical-align: middle
				font-weight: 300
				border-bottom: solid 1px rgba(255,255,255,0.03)
				border-top: solid 1px rgba(255,255,255,0.03)
				height: 70px
				text-align: center

				img
					height: 67px

	// filter form
	.filter-toggle
		height: 20px
		background: #3D84A8
		position: fixed
		bottom: 0
		z-index: 1
		padding: 20px
		height: 50px
		width: 100vw
		cursor: pointer
		box-sizing: border-box
		&::after
			content: ""
			display: block
			clear: both
		p
			text-transform: uppercase
			font-weight: bold
			text-align: center
	form
		box-sizing: border-box
		padding: 10px
		background: rgba(46, 82, 101, 0.9)
		position: fixed
		bottom: 0
		display: none
		width: 100vw
		*
			color: #fefefe
			font-family: 'raleway', 'sans serif'
			font-weight: bold
		&:after
			content: ""
			display: block
			height: 40px

		select
			color: #006CBF
			font-weight: bold
			font-size: 13px

		input
			width: 110px
			text-transform: uppercase
			font-weight: bold
			font-size: 14px

		.submit-search
			background: transparent

		select
			margin-top: 10px

		label
			text-transform: uppercase

		.group
			display: inline-block
			padding: 10px 20px
			width: 14%

		input[type=submit]
			width: initial
			border: none
			font-weight: bold
			color: #46CDCF
			display: block
			margin: 15px auto
			padding: 10px 20px
			border: 2px solid #46CDCF
			transition: all 0.5s ease

		input[type=submit]:hover
			color: white
			border: 2px solid white
			transition: all 0.5s ease
		.slider
			appearance:none
			width: 10rem
			height: .25rem
			outline: none
			border-radius: .25rem

			&::-webkit-slider-thumb
				appearance: none
				width: 1.5rem
				height: 1.5rem
				background-color: color-bg
				border: .25rem solid white
				border-radius: 1rem
				cursor: pointer

/*start planet page*/

.clear
	clear: both

.container-planet
	width: 83.3%
	margin: auto

.who
  position: absolute
  top: 40%
  left: 7vw
		.name
			font-family: 'raleway', 'sans serif'
			color: #EFEFEF
			font-weight: bold
			font-size: 3.5vw
		.discover
			margin-top: 15px
			font-family: 'raleway', 'sans serif'
			color: #EFEFEF
			display: inline-block
			font-size: 1vw
			span
				font-family: 'raleway', 'sans serif'
				color: #ABEDD8
				font-weight: bold
				font-size: 3vw
		.who-discover
				margin-top: 15px
				font-family: 'raleway', 'sans serif'
				color: #3D84A8
				display: inline-block
				font-size: 3vw
				width: 20%
				span
					font-family: 'raleway', 'sans serif'
					color: #EFEFEF
					font-size: 1.2vw

.what
  position: absolute
  top: 25%
  right: 3vw
		.line
			margin-bottom: 7vh
			width: 100%
			.columns
				font-family: 'raleway', 'sans serif'
				color: #EFEFEF
				font-size: 1vw
				margin-right: 6vw
				float: left
			.result
				font-family: 'raleway', 'sans serif'
				font-weight: bold
				color: green
				font-size: 2.2vw
				float: right
		.line:nth-child(1)
			.result
				color: #48466D
		.line:nth-child(2)
			.result
				color: #3D84A8
		.line:nth-child(3)
			.result
				color: #46CDCF
		.line:nth-child(4)
			.result
				color: #ABEDD8
		.line:nth-child(5)
			.result
				color: #D5EDE5
		.line:nth-child(6)
			.result
				color: #E5FFF6
				width: 40%
				text-align: right

/* end planet page */

/*start home*/
header.home
	position: absolute
	top: 0
	left: 0
	width: 100%

.container-home
	width: 100%
	height: 100vh
	background-image: url(../img/galaxy-11.jpg)
	background-size: cover
	background-position: bottom

	.content
		position: absolute
		right: 10vw
		top: 30%
		color: white

		.sub-up-title
			font-family: 'raleway', 'sans serif'
			color: #EFEFEF
			font-size: 1.5vw

		.up-title
				font-family: 'raleway', 'sans serif'
				color: #46CDCF
				font-size: 3.5vw
				font-weight: bold

		.title
			font-family: 'raleway', 'sans serif'
			color: #EFEFEF
			font-size: 10vw
			font-weight: bold
			margin-top: -1vw
			margin-bottom: 5%

		.explore
			font-family: 'raleway', 'sans serif'
			color: #EFEFEF
			font-size: 1.2vw
			font-weight: bold
			background-color: rgba(0, 0, 0, 0.2)
			padding: 1vw 6vw
			border: 3px solid #EFEFEF
			transition: all 0.3s ease
			color: #46CDCF
			margin-left: 5vw

		.explore:hover
			color: white
			transition: all 0.3s ease
	.planet
		margin-left: -20vw
/*end home*/

/*start discover*/


.container-describ
	width: 100%
	margin-bottom: 50px
	p
		line-height: 24px
	.first-explain
		width: 80%
		margin: auto
		font-size: 1.3em
		line-height: 36px
		text-align: center
		margin-bottom: 50px
		span
			color: #4eb0b2
	.confirm
		width: 17%
		text-align: center
		position: relative
		display: inline-block
		margin-left: 5%
		img
			width: 100%
			height: auto
		.contain-text
			width: 100%
			position: absolute
			top: 30%
			p
				font-size: 1.5vw
			.nb
				font-weight: bold
				font-size: 2vw
	.prob
		width: 13%
		text-align: center
		position: relative
		margin-top: 3%
		display: inline-block
		margin-left: 20%
		img
			width: 100%
			height:
			opacity: 0.5
		.contain-text
			width: 100%
			position: absolute
			top: 30%
			p
				font-size: 1.5vw
			.nb
				font-weight: bold
				font-size: 2vw
	.side-explain
		width: 20%
		display: inline-block
		position: relative
		margin-left: 17%

		.border
			position: absolute
			top: 0
			width: 5px
			height: 100%
			border-left: 2px solid #EFEFEF
		p
			font-size: 1em
			margin-left: 15px
		.unlight
			color: #4eb0b2
			font-size: 26px
			line-height: 28px
.container-average
	width: 100%
	margin: auto

	#average
		width: 100%
		height: auto
		#line-container
			.line
				animation: 20s draw ease-out forwards
				stroke-dasharray: 5000
		#circle-temp
			#circle
				animation: 2s 2s drawCircle ease-out forwards
				stroke-dasharray: 300
				stroke-dashoffset: 300

		.text
			animation: 2s 2s fade ease-out forwards
			opacity: 0

@keyframes draw
	0%
		stroke-dashoffset: 5000

	100%
	stroke-dashoffset: 0

@keyframes drawCircle
	0%
		stroke-dashoffset: 300

	100%
	stroke-dashoffset: 0

@keyframes fade
	0%
		opacity: 0

	100%
	opacity: 1

.probability
	width: 100%
	position: relative
	margin-top: 200px
	.container-image
		width: 100%
		text-align: center
		position: absolute
		top: 0
		left: 0
		img
			width: 25%
			height: auto
	.a .nb, .b .nb, .c .nb, .d .nb
		font-size: 3em
		font-weight: bold
		color :#4eb0b2
		width: 50%
		margin-bottom: 20px
	.a .text, .b .text, .c .text, .d .text
		width: 50%
		font-size: 1em
		line-height: 24px
		margin-bottom: 100px
	.a .text, .b .text, .a .nb, .b .nb
		text-align: right
	.c .text, .d .text, .c .nb, .d .nb
		text-align: left
	.left
		float: left
		margin-left: 18%
		margin-top: 5%
	.right
		float: right
		margin-right: 1%
		margin-top: 5%

.container-diag
	width: 80%
	margin: auto
	#diag
		margin-top: 200px
		width: 100%
		height: auto
	[class^="hover"]
		opacity: 0
		transition: all ease 0.3s
	[id^="bar"]:hover [class^="hover"]
		opacity: 1
		transition: all ease 0.3s

/*end discover*/
/*start loader*/
.loader.end
	display: none
.loader
	display: block
	position: fixed
	top: 0
	left: 0
	background-color: black
	width: 100vw
	height: 100vh
	z-index: 10000
	#loader
		width: 30%
		height: auto
		margin-left: 35%
		margin-top: 20%
	#loader
		#planet1
			opacity: 0
			animation: fadeLoad ease 1.5s forwards
		#planet2
			opacity: 0
			animation: fadeLoad ease 1.5s 1.5s forwards
		#planet3
			opacity: 0
			animation: fadeLoad ease 1.5s 3s forwards
		#planet4
			opacity: 0
			animation: fadeLoad ease 1.5s 4.5s forwards
		#planet5
			opacity: 0
			animation: fadeLoad ease 1.5s 6s forwards
		#planet6
			opacity: 0
			animation: fadeLoad ease 1.5s 7.5s forwards

@keyframes fadeLoad
	0%
		opacity: 0

	100%
		opacity: 1
/*end loader*/
/*reverse*/

.arrow-up, .arrow-down
	float: right

.arrow-up
	width: 0
	height: 0
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-bottom: 10px solid white

.arrow-down
	width: 0
	height: 0
	border-left: 10px solid transparent
	border-right: 10px solid transparent
	border-top: 10px solid white

input[type=range]
	box-sizing: border-box
	font-size: 16px
	line-height: 1
	height: 2em
	background-color: transparent
	cursor: pointer
	-webkit-appearance: none
	width: 100%

input[type=range]::-webkit-slider-thumb
	-webkit-appearance: none

input[type=range]:focus
	outline: none

input[type=range]::-ms-track
	width: 100%
	cursor: pointer
	background: transparent
	border-color: transparent
	color: transparent

input[type=range]::-webkit-slider-thumb
	-webkit-appearance: none
	width: 2em
	height: 2em
	margin-top: 0
	background-color: rgba(46, 82, 101, 1)
	border-radius: 1em
	border: 2px solid rgba(255, 255, 255, 0.5)
	cursor: pointer

input[type=range]::-moz-range-thumb
	width: 2em
	height: 2em
	margin-top: 0
	background-color: rgba(46, 82, 101, 1)
	border-radius: 1em
	border: 2px solid rgba(255, 255, 255, 0.5)
	cursor: pointer

input[type=range]::-ms-thumb
	width: 2em
	height: 2em
	margin-top: 0
	background-color: rgba(46, 82, 101, 1)
	border-radius: 1em
	border: 2px solid rgba(255, 255, 255, 0.5)
	cursor: pointer

input[type=range]:hover::-webkit-slider-thumb
	border-color: rgba(255, 255, 255, 0.7)

input[type=range]:hover::-moz-range-thumb
	border-color: rgba(255, 255, 255, 0.7)

input[type=range]:hover::-ms-thumb
	border-color: rgba(255, 255, 255, 0.7)

input[type=range]:active::-webkit-slider-thumb
	border-color: #ffffff

input[type=range]:active::-moz-range-thumb
	border-color: #ffffff

input[type=range]:active::-ms-thumb
	border-color: #ffffff

input[type=range]::-webkit-slider-runnable-track
	width: 100%
	cursor: pointer
	height: 1em
	border-bottom: 2px solid rgba(255, 255, 255, 0.5)
	background-color: transparent

input[type=range]::-moz-range-track
	width: 100%
	cursor: pointer
	height: 1em
	border-bottom: 2px solid rgba(255, 255, 255, 0.5)
	background-color: transparent

input[type=range]::-ms-track
	background: transparent
	border-color: transparent
	color: transparent

/*start 404*/
.error_page
	width: 100%
	margin-top: 10%
	h1
		font-family: 'raleway', 'sans serif'
		color: #EFEFEF
		font-size: 7vw
		font-weight: bold
		width: 45%
		margin: auto
	h2
		font-family: 'raleway', 'sans serif'
		color: #46CDCF
		font-size: 7vw
		font-weight: bold
		width: 45%
		margin: auto
	a
		font-family: 'raleway', 'sans serif'
		font-size: 2vw
		text-decoration: none
		text-align: right
		display: inline-block
		color: #46CDCF
		width: 63%
		margin: auto
		transition: all 0.5s ease
		&:hover
			color: white
			transition: all 0.5s ease

/*end 404*/

@media screen and (min-device-width : 375px) and (max-device-width : 880px) and (orientation : portrait)
	header.home
    text-align: center
	header
    text-align: center

	nav ul li
    margin-left: 10px
	nav img
    margin-bottom: 20px
	.container-home
		.planet
	    display: none
		.content
			top: 40%
			right: 20vw
			.title
				font-size: 20vw
			.up-title
				font-size: 8vw
			.sub-up-title
				font-size: 5vw
			.explore
				font-size: 6vw
				padding: 1vw 9vw
	.container-describ
		.side-explain
			width: 90%
			margin-left: 5%
		.prob
			width: 30%
			margin-top: 0
			.contain-text
				p
					font-size: 3vw
				.nb
					font-size: 5vw
		.confirm
			width: 40%
			.contain-text
				p
					font-size: 3vw
				.nb
					font-size: 5vw
	.probability
		.container-image
			img
	  		display: none
		.left
			margin-left: 0%
			margin-top: -10%
			float: none
			margin-left: 10%
		.right
			float: none
			margin-left: 10%
		.a,.b,.c,.d
			.text
				text-align: left
				width: 100%
			.nb
				text-align: left
	.container-planet
		display: none
	.who
		width: 80%
		top: 20%
		right: 0
		left: 28%
		.name
			font-size: 8vw
		.discover
			font-size: 3vw
			span
				font-size: 6vw
		.who-discover
			font-size: 8vw
			width: 100%
			span
				font-size: 3vw
	.what
		width: 80%
		left: 10%
		top: 50%
		.line
			.columns
				font-size: 4vw
			.result
				font-size: 8vw


@media screen and (min-device-width : 375px) and (max-device-width : 1400px) and (orientation : landscape)
	header.home
    text-align: center
	header
    text-align: center

	nav ul li
    margin-left: 10px
	nav img
    margin-bottom: 20px
	.container-home
		.planet
	    display: none
		.content
			top: 40%
			right: 30vw
			.title
				font-size: 13vw
			.up-title
				font-size: 5vw
			.sub-up-title
				font-size: 2vw
			.explore
				font-size: 3vw
				padding: 1vw 4vw
	.container-describ
		.side-explain
			width: 80%
			margin-left: 10%
		.prob
			width: 30%
			margin-top: 0
		.confirm
			width: 40%
	.probability
		.container-image
			img
    		display: none
		.left
			margin-left: 0%
			margin-top: -10%
			float: none
			margin-left: 10%
		.right
			float: none
			margin-left: 10%
		.a,.b,.c,.d
			.text
				text-align: left
				width: 100%
			.nb
				text-align: left
.container-planet
	display: none
.who
	width: 80%
	top: 20%
	right: 0
	left: 28%
	.name
		font-size: 8vw
	.discover
		font-size: 3vw
		span
			font-size: 6vw
	.who-discover
		font-size: 8vw
		width: 100%
		span
			font-size: 3vw
.what
	width: 80%
	left: 10%
	top: 80%
	.line
		.columns
			font-size: 4vw
		.result
			font-size: 8vw
