body {
  background: #0B0C16; }

p, td, th, label {
  color: #EFEFEF;
  font-family: 'raleway', 'sans serif';
  font-size: 14px; }

header {
  height: 105px; }

li {
  font-family: 'raleway', 'sans serif';
  color: #EFEFEF;
  display: inline-block;
  font-weight: bold; }

nav {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px; }
  nav img {
    height: 30px; }
  nav ul {
    float: right; }
    nav ul li {
      font-size: 18px;
      margin-left: 45px; }
      nav ul li a {
        color: #EFEFEF; }

.info-container {
  margin-left: 10%; }
  .info-container table {
    width: 100%;
    table-layout: fixed; }
  .info-container .info-names tr th {
    font-weight: bold;
    padding: 20px 15px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    text-align: center; }
  .info-container .info-datas {
    height: 70vh;
    overflow-x: auto;
    margin-top: 0px; }
    .info-container .info-datas .data-row {
      overflow-x: auto;
      margin-top: 0px; }
      .info-container .info-datas .data-row:nth-child(even) {
        background: rgba(255, 255, 255, 0.03); }
      .info-container .info-datas .data-row td {
        width: 16%;
        text-align: center;
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        border-bottom: solid 1px rgba(255, 255, 255, 0.03);
        border-top: solid 1px rgba(255, 255, 255, 0.03);
        height: 70px;
        text-align: center; }
  .info-container .form input {
    font-size: 18px;
    padding: 15px 10px 15px 5px;
    font-weight: 200;
    display: block;
    width: 170px;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff !important;
    background: none; }

    /*start planet page*/
    .clear {
      clear: both; }

    .container-planet {
      width: 83.3%;
      margin: auto; }

    .who {
      position: absolute;
      top: 40%;
      left: 7vw; }
      .who .name {
        font-family: 'raleway', 'sans serif';
        color: #EFEFEF;
        font-weight: bold;
        font-size: 3.5vw; }
      .who .discover {
        margin-top: 15px;
        font-family: 'raleway', 'sans serif';
        color: #EFEFEF;
        display: inline-block;
        font-size: 1vw; }
        .who .discover span {
          font-family: 'raleway', 'sans serif';
          color: #ABEDD8;
          font-weight: bold;
          font-size: 3vw; }
      .who .who-discover {
        margin-top: 15px;
        font-family: 'raleway', 'sans serif';
        color: #3D84A8;
        display: inline-block;
        font-size: 3vw; }
        .who .who-discover span {
          font-family: 'raleway', 'sans serif';
          color: #EFEFEF;
          font-size: 1.2vw; }

    .what {
      position: absolute;
      top: 25%;
      right: 3vw; }
      .what .line {
        margin-bottom: 7vh;
        width: 100%; }
        .what .line .columns {
          font-family: 'raleway', 'sans serif';
          color: #EFEFEF;
          font-size: 0.8vw;
          margin-right: 6vw;
          float: left; }
        .what .line .result {
          font-family: 'raleway', 'sans serif';
          font-weight: bold;
          color: green;
          font-size: 2.2vw;
          float: right; }
      .what .line:nth-child(1) .result {
        color: #48466D; }
      .what .line:nth-child(2) .result {
        color: #3D84A8; }
      .what .line:nth-child(3) .result {
        color: #46CDCF; }
      .what .line:nth-child(4) .result {
        color: #ABEDD8; }
      .what .line:nth-child(5) .result {
        color: #D5EDE5; }
      .what .line:nth-child(6) .result {
        color: #E5FFF6; }

    /* end planet page */
